.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    text-align: center;
}

.bi-image{
    margin: auto;
}

.button {
    align-items: center;
    justify-content: center;
}
