.stepper-container {
  width: 500px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

.stepper-container .MuiStep-root {
  flex-direction: column-reverse;
}

.stepper-container .MuiStep-root::after {
  top: unset;
  bottom: calc(var(--StepIndicator-size) / 2 - var(--Step-connectorThickness) / 2);
}

.stepper-container .MuiStep-completed::after {
  background-color: primary.500;
}

.stepper-container .MuiStep-active .MuiStepIcon-root {
  border-color: primary.500;
}

.stepper-container .MuiStep-root:has(+ .MuiStep-active)::after {
  color: primary.500;
  background-color: transparent;
  background-image: radial-gradient(currentColor 2px, transparent 2px);
  background-size: 7px 7px;
  background-position: center left;
}

.stepper-container .MuiStep-disabled * {
  color: rgba(0, 0, 0, 0.38);
}
