.StepIndicatorRoot {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1976d2;
    border: 2px solid #fff; /* border style, color変更 */
    color: #fff; /* iconのカラー変更 */
  }
  
  .StepIndicatorRoot.completed::after {
    background-color: #4caf50; /* 完了できたstepの色変更 */
  }
  
  .StepIndicatorRoot.active .MuiStepIcon-root {
    border-color: #1976d2; /* 活性化できたstep iconのborderline color変更 */
  }
  
  .StepIndicatorRoot:has(+ .MuiStep-active)::after {
    color: #1976d2; /* 活性化できたstep iconの色変更 */
    background-color: transparent;
    background-image: radial-gradient(currentColor 2px, transparent 2px);
    background-size: 7px 7px;
    background-position: center left;
  }
  
  .StepIndicatorRoot.disabled * {
    color: #bdbdbd; /* 非活性化できたstep iconの色変更 */
  }
  